<!-- Define o modelo da view como Cliente -->
@model MeuCadastroClientesMvc.Models.Cliente

@{
    ViewData["Title"] = "Edit"; <!-- Define o título da página -->
}

 <!-- Título da página -->
<h1>Editar</h1>

<div class="row">
    <div class="col-md-4">
        <!-- Formulário que envia dados para a ação Edit
         no controlador -->
        <form asp-action="Edit">
            <!-- Exibe mensagens de validação -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- Campo oculto para o ID do cliente -->
            <input type="hidden" asp-for="ID_Cliente" />
            <!-- Campo para Nome -->
            <div class="form-group">
                 <!-- Rótulo para o campo Nome -->
                <label asp-for="Nome" class="control-label"></label>
                <!-- Campo de entrada para Nome -->
                <input asp-for="Nome" class="form-control" />
                <!-- Mensagem de validação para Nome -->
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <!-- Campo para Endereco -->
            <div class="form-group">
                <!-- Rótulo para o campo Endereco -->
                <label asp-for="Endereco" class="control-label"></label>
                <!-- Campo de entrada para Endereco -->
                <input asp-for="Endereco" class="form-control" />
            </div>
            <!-- Campo para Telefone -->
            <div class="form-group">
                <!-- Rótulo para o campo Telefone -->
                <label asp-for="Telefone" class="control-label"></label>
                <!-- Campo de entrada para Telefone -->
                <input asp-for="Telefone" class="form-control" />
                <!-- Mensagem de validação para Telefone -->
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <!-- Campo para RG -->
            <div class="form-group">
                <!-- Rótulo para o campo RG -->
                <label asp-for="RG" class="control-label"></label>
                <!-- Campo de entrada para RG -->
                <input asp-for="RG" class="form-control" />
            </div>
            <!-- Campo para CPF -->
            <div class="form-group">
                 <!-- Rótulo para o campo CPF -->
                <label asp-for="CPF" class="control-label"></label>
                <!-- Campo de entrada para CPF -->
                <input asp-for="CPF" class="form-control" />
                <!-- Mensagem de validação para CPF -->
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>
            <!-- Campo para Email -->
            <div class="form-group">
                <!-- Rótulo para o campo Email -->
                <label asp-for="Email" class="control-label"></label>
                <!-- Campo de entrada para Email -->
                <input asp-for="Email" class="form-control" />
                <!-- Mensagem de validação para Email -->
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <!-- Botão de envio -->
            <div class="form-group">
                <!-- Botão para salvar as alterações -->
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <br>
    <br>
    
    <!-- Link para voltar à lista de clientes -->
    <a asp-action="Index" class="btn-link-voltar-lista">Voltar para a Lista</a>
</div>
<!-- Inclui scripts de validação -->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
